*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(backgorund.jpeg);
}

img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

h3 {
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  margin-top: 10px;
  font-style: italic;
  text-align: center;
}

button {
  width: 200px;
  height: 40px;
  background-color: rgb(181, 172, 179);
  border: none;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-weight: 800;
  font-size: 1.3rem;
  font-style: italic;
  color: white;
  transition: 0.2s ease-in-out;
}

button:hover {
  background-color: rgb(99, 92, 97);
  cursor: pointer;
  transform: scale(1.05);
}

a {
  text-decoration: none;
  color: white;
}
